@using ClientDependency.Core.Mvc
@using Articulate;
@using Articulate.Models
@{
    var articulateMasterModel = Model as IMasterModel;
    if (articulateMasterModel == null)
    {
        //couldn't convert, throw exception?
    }
}
@inherits UmbracoViewPage<IPublishedContent>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    @if (IsSectionDefined("title"))
    {
        @RenderSection("title")
    }
    else
    {
        <title>@articulateMasterModel.Name - @articulateMasterModel.BlogTitle</title>
    }

    <meta name="description" content="@articulateMasterModel.BlogDescription" />
    @Html.AdvertiseWeblogApi(articulateMasterModel)
    @Html.RssFeed(articulateMasterModel)
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    @{ Html
           .RequiresJs("//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
           .RequiresCss("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
           .RequiresCss("//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300")
         //This loads all CSS found in the current theme's css folder: /Assets/css
           .RequiresThemedCssFolder(articulateMasterModel);
    }

    @Html.RenderCssHere()

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" />

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-62918675-1', 'auto');
    ga('send', 'pageview');
    </script>

</head>
<body class="@ViewBag.CssBodyClass">
    <div id="top-strip"></div>
    <div id="main-container" class="container center">
        @{
            Html.RenderPartial("umbTopNavigation");
            Html.RenderPartial("PageBanner");

        }


        <h1 class="blog-title">
            <a href="@Url.ArticulateRootUrl(articulateMasterModel)">

                @{ Html.RenderPartial("PageHeader", new ViewDataDictionary {{"Title", articulateMasterModel.BlogTitle}}); }
            </a>
        </h1>

        <header id="site-head">

       
            @Html.ThemedPartial(articulateMasterModel, "Menu")

        </header>

        @RenderBody()

        <footer class="row">
            <span style="text-align: center; display: block;">&#169;@DateTime.Now.Year Paddy Kiernan </span>
        </footer>

        @Html.RenderJsHere()

        @Html.GoogleAnalyticsTracking(articulateMasterModel)
</div>
</body>
</html>
