﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "Master.cshtml";
  var items = CurrentPage.Children;
  var counter = 0;
}

<ul class="list-unstyled">
  @foreach (var item in items)
  {
    <li>
     @if (counter % 2 == 0)
      {
      <div class="row">
        <div  class="col-lg-2">
          <img class="img-responsive img-thumbnail" src="@Umbraco.Media(item.bioPicture.ToString()).Url" alt="">
        </div>
        <div class="col-lg-10">
          <h4>@item.bioName</h4>
          @item.bioText
        </div>
      </div>
     }
     else
     {
      <div class="row">
        <div class="col-lg-10">
          <h4 class="pull-right">@item.bioName</h4>
          <span class="pull-right text-right">@item.bioText</span>
        </div>
        <div class="col-lg-2">
          <img class="img-responsive img-thumbnail" src="@Umbraco.Media(item.bioPicture.ToString()).Url" alt="">
        </div>
      </div>
     }
    </li>
    counter++;
  }
</ul>