﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<section>
    <div class="center-block">
        <div class="row">
            <div id="contact-form" class="col-lg-6">
                <p class="text-center text-uppercase letter-spacing-s">
                    <strong>Want to get in contact?</strong>
                </p>
                <p class="text-center">
                    Write me a message here or email <a href="mailto:pinemartenband@gmail.com"><strong>pinemartenband</strong></a>
                </p>
                    @Html.Action("RenderContactForm", "Contact")
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</section>