﻿@inherits UmbracoTemplatePage
@{
  Layout = "umbLayout.cshtml";
}
<section>
  <div class="row">
    @Umbraco.Field("tabpageHeaderText")

    @{ var dates = CurrentPage.Children.ToList(); }
   <ul class="list-unstyled">
      @foreach (var date in dates.OrderBy("dateStartDate"))
      {
        var dateString = date.dateEndDate == DateTime.MinValue ? date.dateStartDate.ToString("MMMM dd, yyyy") : date.dateStartDate.ToString("MMMM dd, yyyy") + " - " + date.dateEndDate.ToString("MMMM dd, yyyy");

        <li>
          <h3>@dateString</h3>
          <span class="theme-colored-text">@date.dateName</span>
        </li>
      }
    </ul>
  </div>
</section>