﻿@using PaddyKiernan.Web
@using umbraco.cms.presentation.create.controls
@inherits UmbracoTemplatePage
@{
  Layout = "umbLayout.cshtml";
}
@{
  // The menu items we want are all of the children of the homepage
  // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
  var items = CurrentPage.Children;
}
<section>
  <div class="row">

    <div class="camera_wrap">
      @foreach (var item in items)
      {
        if (item.DocumentTypeAlias.ToLower() == "youtubevideo")
        {
          string src = item.youtubeVideoId.ToString();
          <div data-src="@string.Format("http://img.youtube.com/vi/{0}/0.jpg", src)" data-thumb="@string.Format("http://img.youtube.com/vi/{0}/0.jpg", src)">
            <iframe src="@string.Format("http://www.youtube.com/embed/{0}", src)" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <div class="camera_caption">The text of your html element</div>
          </div>
        }
        else
        {
          var src = Umbraco.Media(item.galleryItemImage.ToString()).Url;
          <div data-src="@src" data-thumb="@src">
            <div class="camera_caption">@item.Name</div>
          </div>
        }
      }
    </div>
  </div>

</section>

@section scripts{
  <script src="/js/Slider/jquery.easing.js"></script>
  <script src="/js/Slider/camera.js"></script>
  <script>
    jQuery('.camera_wrap').camera({
      pagination: false,
      height: "500px",
      width: "500px",
      playPause: false,
      autoAdvance: false,
      mobileEasing: 'linear',
      fx: 'scrollHorz',
      thumbnails: true
    });

  </script>
}