﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var items = CurrentPage.Children;
}
<section>
  <div class="row">

    <div class="galleria" style="min-height: 20px;">
      @foreach (var item in items)
      {
        if (item.DocumentTypeAlias.ToLower() == "youtubegalleryitem")
        {
          string src = item.videoId.ToString();

          <a href="@string.Format("http://www.youtube.com/watch?v={0}", src)">
            <img src="@string.Format("http://img.youtube.com/vi/{0}/0.jpg", src)" data-title="@item.Name" />
          </a>
        }
        else
        {
          var src = Umbraco.Media(item.image.ToString()).Url;
          <img src="@src" data-title="@item.Name" data-description="@item.Description" />
        }
      }
    </div>
  </div>

</section>

@section scripts{
<script src="/scripts/galleria/galleria-1.4.2.min.js"></script>

<script>
    Galleria.loadTheme('/scripts/galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('.galleria', { responsive: true, height: 0.5625 });
</script>
}