﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = null;
  var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Pine Marten are a dynamic new acoustic ensemble drawing on folk music from around the world. With roots in bluegrass, trad, folk, funk and blues, they have developed an innovative new sound comprised of blues-tinged Irish jigs, funky American dance tunes, haunting arrangments of old folk songs and a host of their own compostions.">

  <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div id="top-strip"></div>
<header>
  <div class="container">
    <div id="social-media" style="margin-top: 10px;" class="pull-right col-lg-2 col-sm-12">
      <a href="https://www.facebook.com/pinemartenband" class="pull-right"><img alt="Like us on Facebook" src="~/images/social-media/Facebook.png" /></a>
      <a href="https://twitter.com/pinemartenband" class="pull-right" ><img alt="Follow us on Twitter" src="~/images/social-media/Twitter.png" /></a>
      <a href="https://www.youtube.com/channel/UC_wm69N9QYXCgzqjW_07ZuA" class="pull-right"><img alt="Subscribe to our Youtube Channel" src="~/images/social-media/YouTube.png" /></a>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          @{ Html.RenderPartial("MainNavigation"); }
        </nav>
      </div>
    </div>
  </div>

  <div id="toggle" class="toggle">
    <a href="#" class="cross"><span></span></a>
  </div>
</header>
@if (CurrentPage.GetPropertyValue<bool>("showPageTitle") == true)
{
  Html.RenderPartial("PageHeader", new ViewDataDictionary {{"Title", @Umbraco.Field("pageName")}});
}
<div class="container">
  @RenderBody()
</div>

<footer class="row">
  <span style="text-align: center; display: block;">&#169;@DateTime.Now.Year Pine Marten  </span>
</footer>

<!-- Javascripts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
@RenderSection("scripts", false)
</body>
</html>