﻿@{
    Layout = "umbLayout.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var items = CurrentPage.Children;
}
<section>
<div class="row">
    <ul class="list-unstyled">
        @foreach (var item in items)
        {
            <li class="col-lg-6 col-sm-12 col-xs-12">
                @{
                    var html = new HtmlString(item.embeddedHtml.ToString());
                }
                @html
            </li>

        }
    </ul>
</div>
</section>