﻿@using PaddyKiernan.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "umbLayout.cshtml";
}
<section>
  <div class="center-block">
    <div class="row">
        @{
          var projects = CurrentPage.Children;
        }

        @foreach (var project in projects)
        {
          <div class="col-md-6 text-center margin-bottom-lg">
              <a href="@project.projectLink" target="_blank">
                @{
                  string media = project.projectImage.ToString();
                }
                <img alt="@project.projectName" class="img-responsive center-block" src="@media.GetUrlToMedia(Url, Umbraco)" />
                <span class="center-block">@project.projectName</span>
              </a>
            @project.projectDescription
          </div>
       }
    </div>
  </div>
</section>
