﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var items = CurrentPage.Children;
}
<section>
<div class="row">
    <ul class="list-unstyled">
        @foreach (var item in items)
        {
            <li class="col-lg-6 col-sm-12 col-xs-12">
                @{
                    var html = new HtmlString(item.embeddedHtml.ToString());
                }
                @html
            </li>

        }
    </ul>
</div>
</section>