﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<section>
  <div class="row">
    @Umbraco.Field("tabpageHeaderText")
    @{ var tabs = CurrentPage.Children; }
    <ul class="list-unstyled">
      @foreach (var tab in tabs)
      {
        <li class="margin-bottom-lg">
          <span>@tab.tabName</span>
          @if (!string.IsNullOrWhiteSpace(tab.tabMelody.ToString()))
          {
            <a href="@tab.tabMelody" target="_blank"> Melody </a> 
          }
          @if (!string.IsNullOrWhiteSpace(tab.tabAccompaniment.ToString()))
          {
            <span class="separator">|</span>  <a href="@tab.tabAccompaniment" target="_blank"> Accompaniment </a> 
}
          @if (!string.IsNullOrWhiteSpace(tab.tabArrangement.ToString()))
          {
            <span class="separator">|</span>   <a href="@tab.tabArrangement" target="_blank"> Arrangement </a>  
}
          @if(!string.IsNullOrWhiteSpace(tab.tabVideo.ToString()))
                  {
            <text>
          <span class="separator">|</span>  <a onclick="onVideoClick('@tab.tabName','@tab.tabVideo')" data-toggle="modal" data-target="#videoModal" href="#">Video Lesson</a>
            </text>
          }
        </li>
      }
    </ul>
  </div>
</section>

<div id="videoModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <iframe id="videoIframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
  <script type="text/javascript">
    function onVideoClick(videoName, videoId) {
      var videoLink = "https://www.youtube.com/embed/" + videoId;
      $("#videoIframe").attr("src", videoLink);
      $(".modal-title").text(videoName);
    }
  </script>

}