﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<section>
    <div class="row">
        <div class="col-md-8">
            <div class="row margin-bottom-lg">
                <p>
                    Paddy has extensive teaching experience, maintaining a busy teaching schedule, both privately and
                    at Walton’s School of Music, one of Ireland’s largest private music schools, where his Introduction to
                    5 String Banjo classes have been especially popular since Paddy started them in 2012. (<a href="http://www.newschool.ie/Introducing_5_String_Banjo/Default.2838.html">
                        Link
                    </a>)
                </p>
                <p>
                    Paddy also hosts Walton’s ‘Bluegrass Slow Jam’ where beginners and more experienced musicians
                    can learn how to play bluegrass in a very enjoyable environment. (<a href="http://www.newschool.ie/Bluegrass_Slow_Jams/Default.2901.html">Link</a>)
                </p>
            </div>
            <div class="row">
                <p class="text-uppercase letter-spacing-s">
                    <strong>@Umbraco.Field("quoteSectionText")</strong>
                </p>
                @{ var quotes = CurrentPage.AncestorOrSelf().Descendants("quote"); }

                <ul class="list-unstyled">
                    @foreach (var quote in quotes)
                    {
                        <li>
                            <p>
                                <em>
                                    '@quote.quoteText'
                                </em>
                                <br />- @quote.quoteSource
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p class="text-uppercase letter-spacing-s">
                <strong>@Umbraco.Field("teachingTopicSectionText")</strong>
            </p>
            @{ var topics = CurrentPage.AncestorOrSelf().Descendants("teachingTopic"); }


            <ul class="list-unstyled">
                @foreach (var topic in topics)
                {
                    <li class="theme-colored-text">
                        @topic.teachingTopicName
                    </li>
                }
            </ul>
        </div>
    </div>
</section>