﻿@using PaddyKiernan.Web
@using umbraco.MacroEngines
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

<section>
  @{ Html.RenderPartial("PageHeader", new ViewDataDictionary { { "Title", "Welcome" } }); }
  <div class="row">
    <ul class="list-unstyled list-inline center-block text-center">
      <li class="col-md-6 col-sm-12">
        @{ string youtubeLinkVideoOne = string.Format("https://www.youtube.com/embed/{0}", Umbraco.Field("homePageVideo1").ToString()); }
        <iframe width="560" height="315" src="@youtubeLinkVideoOne" frameborder="0" allowfullscreen></iframe>
        <p>@CurrentPage.homePageVideo1Description</p>
      </li>
      <li class="col-md-6 col-sm-12">
        @{ string youtubeLinkVideoTwo = string.Format("https://www.youtube.com/embed/{0}", Umbraco.Field("homePageVideo2").ToString()); }
        <iframe width="560" height="315" src="@youtubeLinkVideoTwo" frameborder="0" allowfullscreen></iframe>
        <p>@CurrentPage.homePageVideo2Description</p>
      </li>
    </ul>
  </div>
  @*<div class="row">
    @{ Html.RenderPartial("PageHeader", new ViewDataDictionary {{"Title", "News"}}); }

    @{ var news = CurrentPage.Children.Where("Name == \"News\"").FirstOrDefault(); }

    @foreach (var newsItem in news.Children.OrderBy("CreateDate desc"))
    {
      <div class="col-md-12">
        <h3>@newsItem.newsItemHeader</h3>
        <span>@newsItem.CreateDate</span>
        <p>@newsItem.newsBodyText</p>
      </div>
    }
  </div>*@
</section>