﻿@using PaddyKiernan.Web
@inherits UmbracoTemplatePage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="VuHPN0reLIT74izEsi6NUxUNpzhVlTiCvK-7QLZELCI" />
    <title>Banjo Player Paddy Kiernan</title>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62918675-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/bootstrap-theme.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/site.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/camera.css")" />


</head>
<body>
<div id="top-strip"></div>
<div id="main-container" class="container center">

    @{
        Html.RenderPartial("umbTopNavigation");
        Html.RenderPartial("PageBanner");
    }


    @RenderBody()
    <input type="hidden" id="currentPageId" value="@(ViewBag.Page ?? "home")"/>

    <footer class="row">
        <span style="text-align: center; display: block;">&#169;@DateTime.Now.Year Paddy Kiernan </span>
    </footer>
</div>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/bootstrap.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>