﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@{
    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var items = CurrentPage.Children;
}

<section>
    <div class="row">
        <ul class="col-xs-12">
            @foreach (var item in items)
            {
                <li class="col-lg-3 col-sm-6 col-xs-12 bottom-spacing-20">
                    @{
                        var id = item.GetPropertyValue("youtubeVideoId");
                    }
                    <a class="video-anchor" href="https://www.youtube.com/watch?v=@id" data-toggle="modal" data-target="#videoModal" data-youtube-id="@id" data-name="@item.name">
                        <img src="//i1.ytimg.com/vi/@id/mqdefault.jpg" class="img-responsive">
                    </a>
                </li>
            }
        </ul>
    </div>
</section>

<!-- Modal -->
<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body text-center">
                <iframe class="embed-responsive" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(".video-anchor").each(function () {
            $(this).click(function () {
                var id = $(this).data("youtube-id");
                var name = $(this).data("name");
                var src = "https://www.youtube.com/embed/" + id;

                $(".modal-title").html(name);
                $(".modal-body iframe").attr("src", src);

               // $(".modal-body").append(description);
            });
        });
    </script>
}