<div ng-controller="Umbraco.PropertyEditors.Grid.MediaController">

	<div class="usky-editor-placeholder" ng-click="setImage()" ng-if="control.value === null">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" class="help-text">Click to insert image</div>
	</div>

	<div ng-if="control.value">
		<div style="width:49%;display:inline-block">
			<img
				ng-if="url"
				ng-click="setImage()"
				ng-src="{{url}}"
				class="fullSizeImage" />
		</div>
		<div style="width:49%;display:inline-block;vertical-align:bottom;">
		    <input
		        rows="1"
		        umb-auto-resize
		        umb-auto-focus
		        class="textstring input-block-level" id="{{control.uniqueId}}_text"
		        ng-model="control.value.link"
		        ng-attr-style="{{control.editor.config.style}}" style="font-weight: bold; font-size: 17px;" placeholder="Image link..."/>

		    <textarea rows="1"
		              umb-auto-resize
		              umb-auto-focus
		              class="textstring input-block-level" id="{{control.uniqueId}}_text"
		              ng-model="control.value.caption"
		              ng-attr-style="{{control.editor.config.style}}" style="font-weight: bold; font-size: 17px;" placeholder="Image caption..."></textarea>
		</div>
 	</div>
</div>
