@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="navbar" class="navbar center collapse navbar-collapse">


    @if (home.Children.Any())
    {
      <ul class="list-unstyled list-inline center-block nav nav-justified">
        <li class="@(CurrentPage.Url == "/" ? "selected " : null)"><a href="/">Home</a></li>
        @{ var counter = 0; }

        @foreach (var childPage in home.Children)
        {
          if ((home.Children.Count() % 2 == 0 && counter == home.Children.Count() / 2) || (home.Children.Count() % 2 > 0 && counter == (home.Children.Count() / 2)))
          {
            <li class="text-center"><img class="absolute-center" src="~/images/logo.jpg" style="width: 200px; height: 150px;" /></li>
          }

          <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null) text-center">
            <a href="@childPage.Url">@childPage.Name</a>
          </li>

          counter++;

        }
      </ul>
          }
  </div>
</div>


@helper childPages(dynamic pages)
{
  @* Ensure that we have a collection of pages *@
if (pages.Any())
{
  @* Get the first page in pages and get the level *@
var naviLevel = pages.First().Level;

  @* Add in level for a CSS hook *@
  <ul class="sublevel level-@(naviLevel)">
    @foreach (var page in pages)
    {
      <li>
        <a href="@page.Url">@page.Name</a>

        @* if the current page has any children *@
        @if (page.Children.Any())
        {
          @* Call our helper to display the children *@
          @childPages(page.Children)
        }
      </li>
    }
  </ul>
}
}
