﻿@inherits UmbracoTemplatePage
@using PaddyKiernan.Web
@{ var siteBanner = Umbraco.Field("siteBannerImage", recursive: true).ToString(); }
<div id="banner-row" class="row">
    <div class="col-lg-12">
        <img class="center-block img-responsive" src="@siteBanner.GetUrlToMedia(Url, Umbraco)" />

    </div>
</div>
<div class="row">
    @{ string image = CurrentPage.bannerImage.ToString(); }
    @if (!string.IsNullOrWhiteSpace(image))
    {
        <div class="col-lg-12">
            <div id="banner-image">
                <img class="img-responsive" src="@image.GetUrlToMedia(Url, Umbraco)" />
            </div>
        </div>
    }
</div>
@if (CurrentPage.GetPropertyValue<bool>("showPageTitle") == true)
{
    Html.RenderPartial("PageHeader", new ViewDataDictionary { { "Title", @Umbraco.Field("pageName") } });
}