﻿@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var menuItems = homePage.Children.Where("UmbracoNaviHide == false");
}
@* If the Url of the current page is "/" then we want to add the class "current_page_item" *@
@* Otherwise, we set the class to null, that way it will not even be added to the <li> element *@

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar center collapse navbar-collapse">
                <ul class="nav nav-justified">
                    <li class="@(CurrentPage.Url == "/" ? "selected " : null)"><a href="/">Home</a></li>

                    @foreach (var item in menuItems)
                    {
                        @* If the Id of the item is the same as the Id of the current page then we want to add the class "current_page_item" *@
                        @* Otherwise, we set the class to null, that way it will not even be added to the <li> element *@
                        <li class="@(CurrentPage.Id == item.Id || (CurrentPage.Parent != null && item.Id == CurrentPage.parentId) ? "selected " : null)"><a href="@item.Url">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
<!-- /Nav -->