﻿@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    padding-bottom: 20px;
    font-size: 10pt;
    font-family: "Lato";
}

#main-container {
    /*max-width: 1024px;*/
    margin: 0 auto;
}

ul {
    padding: 0;
}


.theme-colored-text, a, a:hover, a:active, a:link, a:visited {
    color: #7e882d;
    text-decoration: none;
}

#top-strip {
    background-color: #7e882d;
    width: 100%;
    height: 5px;
}

#banner-row {
    margin-bottom: 100px;
}

.margin-bottom-lg {
    margin-bottom: 20pt;
}

.letter-spacing-s {
    letter-spacing: 1px;
}


/*
    Helpers
*/

.bottom-spacing-5 {
    margin-bottom: 5px;
}

.bottom-spacing-10 {
    margin-bottom: 10px;
}

.bottom-spacing-15 {
    margin-bottom: 15px;
}

.bottom-spacing-20 {
    margin-bottom: 20px;
}



/*
    Navigation Menu
*/
.navbar-default {
    background-color: white !important;
    border: 0 !important;
    background-image: none;
    box-shadow: none;
}

    .navbar-default .navbar-collapse {
        border: 0 !important;
    }

nav {
    margin: 25px 0 80px 0;
}

    nav ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        overflow: visible;
    }

        nav ul li a {
            font-family: "Montserrat";
            font-weight: Bold;
            text-transform: uppercase;
            font-size: 12pt;
        }

            nav ul li a:visited, nav ul li a:link, nav ul li a:link:active {
                color: black;
                background-color: white !important;
            }

.selected:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
}

nav ul li a:hover, nav ul li.selected a, .selected {
    color: #7e882d !important;
    background-color: white !important;
}

.navbar-default .navbar-collapse {
    background-color: white;
}



/*
    Header
*/

h2 {
    position: relative;
    text-align: center;
    margin-bottom: 20px !important;
}

    h2 span {
        background: #fff;
        padding: 0 15px;
        position: relative;
        z-index: 1;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-size: 14pt;
        font-weight: Bold;
        color: black;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    h2:before {
        background: #000;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    h2:before {
        left: 0;
    }

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #7e882d;
    border: none;
    border-radius: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat";
    letter-spacing: 2px;
    font-size: 10pt;
    background-image: none;
}

.field-validation-error {
    color: red;
}

form h3 {
    display: none;
}

#contact-form h1{
        display: none;
    } 
