/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#social-media img {
  height: 30px;
  width: 30px;
  margin: 0 5px
}

nav ul li a {
  font-family: "Montserrat";
  font-weight: Bold;
  text-transform: uppercase;
  font-size: 12pt;
  color: black;
}

  nav ul li a:hover, nav ul li.selected a, .selected {
    color: #000000 !important;
    background-color: white !important;
  }

  nav ul li a:hover {
    text-decoration: none;
  }


.selected:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 55px;
  border-width: 0 0 4px;
  border-style: solid;
}

#top-strip {
  background-color: #000000;
  width: 100%;
  height: 5px;
}


/*
    Header
*/

h2 {
  position: relative;
  text-align: center;
  margin-bottom: 20px !important;
}

  h2 span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: Bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h2:before {
    background: #000;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  h2:before {
    left: 0;
  }


.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

form h3 {
  display: none;
}

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: white;
  border-color: white;
}
